.box {
    max-width: 100px;
    position: absolute;
    right: 0px;
    top: 0;
    z-index: 5;
}

.btn {
    max-width: 60px;
    background: lightgreen;
    padding: 10px;
    border-radius: 12px;
}