.box {
    max-width: 100px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 5;

    @media screen and (max-width: 850px) {
        top: 0;
    }
}

.btn {
    max-width: 60px;
    background: lightgreen;
    padding: 10px;
    border-top-left-radius:12px ;

    @media screen and (max-width: 850px) {
        border-bottom-left-radius: 12px;
    }
}