.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.audio{
    width: 100%;
    background: #f3f3f3;    

    &::-webkit-media-controls-panel{
        background: #f3f3f3;
    }

    &::-webkit-media-controls-return-to-realtime-button{
        background: red;
    }

    @media screen and (max-width: 850px) {
        margin-top: 60px;
    }
}