.box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20%);
    font-family: 'Courier New', Courier, monospace;

    @media screen and (max-width:850px) {
        transform: none;
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .time{
        font-size: 30px;
        margin-top: 20px;
        font-weight: bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
   ul{
    margin-top: 100px;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 30px;
    li{
        width: 300px;
        padding: 20px;
        background: #ccc;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: rgb(63, 185, 189);
        margin: 0 auto;
        img{
            width: 100%;
            height: 150px;
        }
        text-align: center;

        h2{
        font-weight:700;
        }
    }
   }
}